@charset "UTF-8";
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: top.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	sub
10.	footer
11.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
body,
h1, h2, h3, h4, h5, h6,
div,
p,
ul, ol, dl,
form, fieldset,
table,
address,
blockquote,
noscript,
pre,
tr,
td,
input,
textarea {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-style: normal;
}

body {
  font-family: 'M PLUS 1', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

* html body {
  font-size: 62.5%;
}

* + html body {
  font-size: 62.5%;
}

/* start \*/
html:\66irst-child body {
  font-size: 62.5%;
}

/* end */
body:first-of-type {
  font-size: 62.5%;
}

body > iframe {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

small {
  font-size: 1em;
}

mark {
  background: none;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: inherit;
  font: 100%;
}

li {
  list-style-type: none;
}

dd {
  margin: 0;
}

a,
abbr,
acronym,
em,
strong,
span,
img,
sub,
sup,
input,
button,
textarea,
select,
label,
caption {
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}

caption, th {
  font-weight: normal;
  text-align: left;
}

th, td {
  padding: 0px;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  vertical-align: top;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header, footer, article, section, aside,
nav,
figure, figcaption {
  display: block;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  background: #7FBD26;
  color: #444;
}
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:before, a:after {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a > * {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
a:hover > * {
  text-decoration: none;
}

/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
#container {
  position: relative;
  min-height: 100%;
}
* html #container {
  height: 100%;
}
body > #container {
  height: auto;
}

/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
.fll {
  float: left;
}

.flr {
  float: right;
}

@media screen and (min-width: 769px) {
  .sp_none {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .sp_none {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .pc_none {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pc_none {
    display: block;
  }
}

.right-nav {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
.right-nav a {
  -moz-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  display: block;
}
.right-nav a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .right-nav img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 769px) {
  #drawernav {
    display: none;
  }
}

/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
.header {
  -moz-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0;
  border-radius: 0 0 15px 15px;
  width: 960px;
  margin: auto;
  background: #FFF;
}
.header.-lower {
  display: flex;
  justify-content: center;
  position: relative;
}
.header__logo {
  position: absolute;
  left: 20px;
  top: 14px;
}
.header__logo img {
  width: 94px;
  height: auto;
}
.header__nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header__nav__item {
  margin-right: 25px;
}
.header__nav__item:last-child {
  margin-right: 0;
}
.header__nav__item a {
  color: #7FBD26;
  font-size: 13px;
}
.header__nav__item a.-noready {
  pointer-events: none;
  color: #888;
}

/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
.main__box {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 960px;
  margin: 0 auto 10px;
  padding: 45px 40px 15px;
  background: #FFF;
}

/*----------------------------------------------------------------------
9.	#sub
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
10.	#footer
----------------------------------------------------------------------*/
.footer__logo {
  text-align: center;
}
.footer__logo img {
  width: 140px;
  height: auto;
}

/*----------------------------------------------------------------------
11.	ページ別個別設定
----------------------------------------------------------------------*/
.main {
  padding-bottom: 130px;
}
.main__logo {
  padding: 150px 0;
  text-align: center;
}
.main__box__title {
  width: 333px;
  margin: 0 auto 33px;
  padding-bottom: 40px;
  color: #7FBD26;
  font-size: 13px;
  border-bottom: 5px solid #7FBD26;
  text-align: center;
}
.main__box__title img {
  margin-top: 10px;
}
.main__box__lead {
  margin-bottom: 33px;
  color: #808080;
  font-family: 'Kaisei Opti', serif;
  font-size: 21px;
  line-height: 1.66667;
  text-align: center;
}
.main__box__info {
  width: 720px;
  min-height: 105px;
  margin: auto;
  padding-top: 3px;
  background: url("../img/main_box_info_bg.gif") left top no-repeat;
  font-family: 'Kaisei Opti', serif;
  text-align: center;
}
.main__box__info:first-of-type {
  margin-bottom: 55px;
}
.main__box__info:last-of-type {
  margin-bottom: 60px;
}
.main__box__info__term {
  margin-bottom: 15px;
  color: #7FBD26;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", arial, helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}
.main__box__info__description {
  color: #2a2a2a;
  font-size: 24px;
  font-weight: 700;
}
.main__box__info__description__text {
  margin-top: 20px;
  color: #808080;
  font-family: 'M PLUS 1', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.main__box__info__description small {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}
.main__box__info__description > small {
  display: block;
  font-weight: 700;
}
.main__box__info__description > small:last-of-type {
  margin-top: 20px;
}
.main__box__info__description a {
  color: #50AAD2;
  font-weight: 700;
  text-decoration: underline;
}
.main__box__info__description a:hover {
  text-decoration: none;
}
.main__address {
  color: #FFF;
  font-size: 12px;
  line-height: 1.58333;
  text-align: center;
}

.works__title {
  margin-bottom: 30px;
  color: #7FBD26;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center;
}
.works__lead {
  margin-bottom: 30px;
  color: #808080;
  font-size: 14px;
  line-height: 1.78571;
  text-align: center;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -35px;
}
.works__item {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  width: 270px;
  height: 270px;
  margin: 35px 35px 0 0;
  padding: 25px;
  background-color: #7FBD26;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #FFF;
}
.works__item:nth-child(3n) {
  margin-right: 0;
}
.works__item:nth-child(1) {
  background-image: url("../img/works_item_bg1.jpg");
}
.works__item:nth-child(2) {
  background-image: url("../img/works_item_bg2.jpg");
}
.works__item:nth-child(3) {
  background-image: url("../img/works_item_bg3.jpg");
}
.works__item:nth-child(4) {
  background-image: url("../img/works_item_bg4.jpg");
}
.works__item:nth-child(5) {
  background-image: url("../img/works_item_bg5.jpg");
}
.works__item:nth-child(6) {
  background-image: url("../img/works_item_bg6.jpg");
}
.works__item:nth-child(7) {
  background-image: url("../img/works_item_bg7.jpg");
}
.works__item:nth-child(8) {
  background-image: url("../img/works_item_bg8.jpg");
}
.works__item:nth-child(9) {
  background-image: url("../img/works_item_bg9.jpg");
}
.works__item:nth-child(10) {
  background-image: url("../img/works_item_bg10.jpg");
}
.works__item:nth-child(11) {
  background-image: url("../img/works_item_bg11.jpg");
}
.works__item:nth-child(12) {
  background-image: url("../img/works_item_bg12.jpg");
}
.works__item:nth-child(13) {
  background-image: url("../img/works_item_bg13.jpg");
}
.works__item:nth-child(14) {
  background-image: url("../img/works_item_bg14.jpg");
}
.works__item:nth-child(15) {
  background-image: url("../img/works_item_bg15.jpg");
}
.works__item:nth-child(16) {
  background-image: url("../img/works_item_bg16.jpg");
}
.works__item:nth-child(17) {
  background-image: url("../img/works_item_bg17.jpg");
}
.works__item:nth-child(18) {
  background-image: url("../img/works_item_bg18.jpg");
}
.works__item:nth-child(19) {
  background-image: url("../img/works_item_bg19.jpg");
}
.works__item:nth-child(20) {
  background-image: url("../img/works_item_bg20.jpg");
}
.works__item__term {
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}
.works__item__description {
  font-size: 12px;
  line-height: 1.625;
}
.works__text {
  margin: 50px 0 60px;
  color: #989898;
  font-size: 18px;
  text-align: center;
}
.works__logo {
  text-align: center;
}

/*# sourceMappingURL=top.css.map */
