//変数インクルード
@import 'core';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: contact.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	sub
10.	footer
11.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;

#container {
	min-height: auto;
}


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#sub
----------------------------------------------------------------------*/
@include layout-sub;


/*----------------------------------------------------------------------
10.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
11.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	&__logo {
		padding: 70px 0;
		text-align: center;
	}

	&__box {
		margin-bottom: 25px;
		padding: 55px 0 60px;
		text-align: center;

		&__title {
			margin-bottom: 55px;
			color: #808080;
			font-size: 22px;
			letter-spacing: 3px;
		}
	}
}

.contact {
	&__email {
		margin-bottom: 25px;

		a {
			@include border-radius(25px);
			display: block;
			width: 240px;
			margin: auto;
			padding: 12px 0 16px;
			background: color(3);
			color: #FFF;
			font-size: 22px;
		}
	}

	&__tel {
		margin-bottom: 60px;

		a {
			color: color(3);
			font-size: 24px;
		}
	}
}

.address {
	&__term {
		width: 432px;
		margin: 0 auto 18px;
		padding-bottom: 18px;
		color: color(3);
		font-size: 12px;
		border-bottom: 2px solid #7FBD26;
		text-align: center;

		img {
			margin-top: 10px;
		}
	}

	&__description {
		color: #989898;
		font-size: 14px;
	}
}