//変数インクルード
@import 'core';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: top.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	sub
10.	footer
11.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#sub
----------------------------------------------------------------------*/
@include layout-sub;


/*----------------------------------------------------------------------
10.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
11.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	padding-bottom: 130px;

	&__logo {
		padding: 150px 0;
		text-align: center;
	}

	&__box {
		&__title {
			width: 333px;
			margin: 0 auto 33px;
			padding-bottom: 40px;
			color: color(3);
			font-size: 13px;
			border-bottom: 5px solid color(3);
			text-align: center;

			img {
				margin-top: 10px;
			}
		}

		&__lead {
			margin-bottom: 33px;
			color: #808080;
			font-family: 'Kaisei Opti', serif;
			font-size: 21px;
			line-height: (35/21);
			text-align: center;
		}

		&__info {
			width: image-width("../img/main_box_info_bg.gif");
			min-height: image-height("../img/main_box_info_bg.gif");
			margin: auto;
			padding-top: 3px;
			background: url("../img/main_box_info_bg.gif") left top no-repeat;
			font-family: 'Kaisei Opti', serif;
			text-align: center;

			&:first-of-type {
				margin-bottom: 55px;
			}
			&:last-of-type {
				margin-bottom: 60px;
			}

			&__term {
				margin-bottom: 15px;
				color: color(3);
				font-family: $font_goth;
				font-size: 20px;
				letter-spacing: 3px;
			}

			&__description {
				color: #2a2a2a;
				font-size: 24px;
				font-weight: 700;

				&__text {
					margin-top: 20px;
					color: #808080;
					font-family: 'M PLUS 1', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: (24/16);
				}

				small {
					font-size: 13px;
					font-weight: 400;
					line-height: (24/16);
				}

				> small {
					display: block;
					font-weight: 700;

					&:last-of-type {
						margin-top: 20px;
					}
				}

				a {
					color: #50AAD2;
					font-weight: 700;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__address {
		color: #FFF;
		font-size: 12px;
		line-height: (19/12);
		text-align: center;
	}
}

.works {
	&__title {
		margin-bottom: 30px;
		color: color(3);
		font-size: 24px;
		letter-spacing: 3px;
		text-align: center;
	}

	&__lead {
		margin-bottom: 30px;
		color: #808080;
		font-size: 14px;
		line-height: (25/14);
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: -35px;
	}

	&__item {
		@include border-radius(12px);
		width: 270px;
		height: 270px;
		margin: 35px 35px 0 0;
		padding: 25px;
		background-color: #7FBD26;
		background-position: center bottom;
		background-repeat: no-repeat;
		color: #FFF;

		&:nth-child(3n) {
			margin-right: 0;
		}

		$length: 20;
		@for $i from 1 through $length {
			&:nth-child(#{$i}) {
				background-image: url("../img/works_item_bg#{$i}.jpg");
			}
		}

		&__term {
			margin-bottom: 15px;
			font-size: 18px;
			letter-spacing: 2px;
			text-align: center;
		}

		&__description {
			font-size: 12px;
			line-height: (19.5/12);
		}
	}

	&__text {
		margin: 50px 0 60px;
		color: #989898;
		font-size: 18px;
		text-align: center;
	}

	&__logo {
		text-align: center;
	}
}

.start {
	@include pc() {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #7FBD26;
		z-index: 9000;

		@keyframes moveToTop {
			100% {
				top: 22.5%;
			}
		}

		&__logo {
			display: none;
			position: fixed;
			z-index: 9999;
			left: 0;
			right: 0;
			top: calc(50% - 115px);
			text-align: center;

			&.animate {
				animation-name: moveToTop;
				animation-duration: 2s;
				animation-timing-function: ease;
				animation-fill-mode: forwards;
			}
		}
	}
	@include sp() {
		display: none;
	}
}