@mixin layout-tags {
	html ,
	body {
		height: 100%;
	}

	html {
		font-size: 100%;
	}

	body {
		-webkit-text-size-adjust: 100%;
		background: color(3);
		color: color(1);

		* {
			@include box-sizing(border-box);
		}

	}

	a {
		& ,
		&:before ,
		&:after {
			@include transition(all $mouseover linear);
		}

		> * {
			@include transition(all $mouseover linear);
		}

		&:hover {
			@include opacity(.7);

			> * {
				text-decoration: none;
			}
		}
	}
}

@mixin layout-container {
	#container {
		position: relative;
		min-height: 100%;
		@include sp() {
			//overflow-x: hidden;
		}

		* html & {
			height: 100%;
		}

		body > & {
			height: auto;
		}
	}
}

@mixin common {
	//placeholderでやる必要性を検討
	//%pie {
	//	@include pie-element(relative);
	//}

	.fll {
		float: left;
	}

	.flr {
		float: right;
	}

	.sp_none {
		@include pc() {
			display: block;
		}
		@include sp() {
			display: none;
		}
	}

	.pc_none {
		@include pc() {
			display: none;
		}
		@include sp() {
			display: block;
		}
	}

	.right-nav {
		display: none;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 1000;

		a {
			@include transition(opacity $mouseover linear);
			display: block;

			&:hover {
				@include opacity(.7);
			}
		}

		img {
			@include sp() {
				width: 45px;
				height: 45px;
			}
		}
	}

	#drawernav{
		@include pc() {
			display: none;
		}
	}

}

@mixin layout-header {
	.header {
		@include border-radius(0 0 15px 15px);
		width: 960px;
		margin: auto;
		background: #FFF;

		&__nav {
			&__list {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 60px;
			}

			&__item {
				margin-right: 25px;

				&:last-child {
					margin-right: 0;
				}

				a {
					color: color(3);
					font-size: 13px;

					&.-noready {
						pointer-events: none;
						color: #888;
					}
				}
			}
		}
	}
}

@mixin layout-content {
}

@mixin layout-main {
}

@mixin layout-sub {
	.side {
	}
}

@mixin layout-footer {
	.footer {
	}
}
