$supported-browsers: ("chrome", "safari", "firefox", "ie");
$graceful-usage-threshold: 0.1;
$critical-usage-threshold: 0.01;
$browser-minimum-versions: ("firefox": "33", "ie": "9");

//$debug-browser-support: true;
//@debug "$graceful-usage-threshold is:" $graceful-usage-threshold;
//@debug "$critical-usage-threshold is:" $critical-usage-threshold;
//@debug "$supported-browsers is:" $supported-browsers;
//@debug "$browser-minimum-versions is:" $browser-minimum-versions;

$mouseover:.15s;

//①メインカラー、②テキスト
$color:#444 #000;

$font_goth:"メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "ＭＳ Ｐゴシック" , "MS PGothic", arial, helvetica, sans-serif;
$font_goth_old:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",sans-serif;
$font_min:"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
$font_min_old:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;

$break_point:     768px; // @include pc/sp(){...} で参照されるブレイクポイント
$break_point2:     1280px;